.container {
  display: flex;
  align-items: flex-start;

  gap: 102px;

  .content {
    flex: 1;
  }

  .sidebar {
    width: 168px;

    position: sticky;
    top: 0;

    padding-top: 128px;
    padding-bottom: 128px;
  }
}