@import "@styles/tokens/colors";

.email {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  width: min-content;

  font-size: 1.125rem;
  font-weight: 600;

  color: $colors-gray-900;

  div {
    background-color: $colors-gray-900;
    height: 2px;
    width: 8px;

    border-radius: 4px;

    transition: all 0.25s;
    margin-top: -2px;
  }

  &:hover {
    div {
      transform: translateY(-100%);
      width: 100%;
    }
  }
}
