.container {
  position: relative;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.background {
  position: absolute;
  top: -30%;
  right: -60%;

  z-index: -1;

  transform: rotate(150deg);
}
